/* The default CSS style sheet */

/*
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
*/


* {
	line-height: 1.6;
}


body {
	font-size: TEXT_FONT_SIZE;
	font-family: 'TEXT_FONT_FAMILY', sans-serif;
	margin: 0em;
	background-color: #eee;
}

@media screen {
	.main-div {
		max-width: 60em;
	}
}

.main-div {
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	padding: 2em;
	padding-left: 4em;
}

p,blockquote,ul,ol {
	margin: 0em;
	margin-bottom: 1.25em;
}


h1,h2,h3,h4,h5,h6 {
	font-family: 'HEADING_FONT_FAMILY', sans-serif;
	margin-top: 0px;
	font-weight: bold;
	color: #49728a;
}


h1 {
	font-size: 2.6em;
	margin-top: 0.9em;
	margin-bottom: 0.7em;
	margin-left: -0.5em;
	border-top: 2px solid #ccc;
	color: #000;
}

h2 {
	font-size: 2.1em;
	margin-bottom: 0.7em;
	margin-left: -0.5em;
	color: #1a4e6c;
}

h3 {
	font-size: 1.6em;
	margin-bottom: 0.7em;
	margin-left: -0.3em;
	color: #2c5c78;
}

h4 {
	font-size: 1.1em;
	margin-bottom: 0.7em;
	color: #406b84;
}


code {
	font-family: 'Droid Mono', monospace;
}

blockquote * {
	font-family: 'Droid Serif', Georgia, serif;
	border-left: 2px solid #ccc;
	padding: 0em 1.0em 0em 1.5em;
}
